<div >
    <mat-card >
        <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <div>
                <img src="https://specials-images.forbesimg.com/imageserve/1026205392/960x0.jpg?fit=scale"
                    height="400px" width="800px">
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around" >
                <div>
                    <div> City : Karachi</div>
                    <div> Price : 900000</div>
                    <div> Referance of Number : 2468</div>

                </div>
                <div>
                    <div> No Of Bedrooms : 3</div>
                    <div> Description : There are many variations <br>of passages of Lorem Ipsum available.</div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>