<div class="main">
  <h3 fxLayoutAlign="center center" style="margin-bottom:50px">Add Property Form</h3>
  <form [formGroup]="profileForm" fxLayout="column" fxLayoutGap="30px">

    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput #city maxlength="30" placeholder="Ex. Gzira, Sliema ...">
      <mat-hint align="start"><strong>City name</strong> </mat-hint>
      <mat-hint align="end">{{city.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Type</mat-label>
      <input matInput placeholder="Ex. Appartment ...">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Price</mat-label>
      <input matInput type="number" placeholder="1500000">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>No. of bedrooms</mat-label>
      <input matInput type="number" placeholder="2">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Ref. Number</mat-label>
      <input matInput type="number" placeholder="15">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div>
      <button mat-stroked-button (click)="fileInput.click()">Upload Image</button>
      <input type="file" accept="image/*" hidden class="form-control" id="" name="" placeholder="" #fileInput (change)="uploadImage($event)">
    </div>

    <button mat-raised-button color="primary">Submit</button>
</form>
  </div>
